################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/project3/bin/Debug
/project3/obj/Debug
/project3/Properties/AssemblyInfo.cs
/project3/App.config
/project3/project3.csproj
/project2/bin/Debug
/project2/obj/Debug
/project2/Properties/AssemblyInfo.cs
/project2/App.config
/project2/project2.csproj
/project1/bin/Debug
/project1/obj/Debug
/project1/Properties/AssemblyInfo.cs
/project1/project1.csproj
/project1/App.config
/Homework4.1/bin/Debug
/Homework4.1/obj/Debug
/Homework4.1/Properties
/Homework4.2/bin/Debug
/Homework4.2/obj/Debug
/Homework4.2/Properties
/Homework4.2/App.config
/Homework4.2/Homework4.2.csproj
/Homework4.1/App.config
/Homework4.1/Homework4.1.csproj
/Homework7/bin/Debug
/Homework7/Properties
/Homework7/App.config
/Homework7/Homework7.csproj
/Homework7/Form1.resx
